@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*header*/

.logo{
    color:rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 1px;
    /*text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
}


.detaill{
    color:rgb(144, 129, 224);
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color:rgb(82, 73, 133);
    transition: 0.2s;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-between;
    padding-right: 7rem;
    padding-left: 7rem;
    align-items: center;
    background: #23232e;
    height: 8vh;
}



.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;

}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
}

@media (max-width:999px){

    body{
        overflow-x: hidden;
    }

    nav{
        display: flex;
        justify-content: space-between;
        padding-right: 2rem;
        padding-left: 2rem;
        align-items: center;
        background: #23232e;
        height: 8vh;
        
    }

    .nav-list{
        position: absolute;
        top:8vh;
        right: 0;
        width: 40vw;
        height: 20vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
        font-size: 3vw; 


    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2{
    opacity:0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
    
}

/*main*/

body{
    background-image: linear-gradient(to right , rgb(18, 15, 31) , rgb(45, 41, 68));
}


main {
    max-width: 90%;
    margin: 20px auto;
    padding: 1rem;
    min-height: 100vh;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.tip {
    flex: 1;
    margin: 1rem;
    border: 1px solid #ddd;
    padding: 1rem;
    border-radius: 5px;
    background-color: rgba(7, 2, 41, 0.516);
}

h2 {
    color: rgb(144, 129, 224);
    font-size: 25px;
    letter-spacing: 1px;
}

.detail {
    color: rgb(255, 255, 255);
}

p {
    color: #fcfcfc;
    letter-spacing: 1px;
    line-height: 28px;
    font-size: 18px;
    margin: 20px 0;
    font-weight: 200;
}

.container_tips1 {
    text-align: right;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
   
}

.container_tips2 {
    text-align: left;
    /*box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.5);*/
}


@media (max-width: 768px) {
    
    main {
  
        flex-direction: column;
        text-align: center;
      }
    

    .tip {
        margin: 1rem 0;
        max-width: 100%;
    }
}

  
/*footer*/

footer{
    background-color: #23232e;
    
}

.footerContainer{
    width: 100%;
    padding: 10px 10px 10px;

}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type:none;
}

.footerNav ul li a{
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
    font-size: 14px;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerNav ul li a:hover{
    color:rgb(82, 73, 133);
    transition: 0.4s;
}

.footerBottom{
    background-color:  #191920;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color:#ffffff;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}