@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

*{
    padding: 0;
    margin: 0;
    font-family: 'Times New Roman', Times, serif;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

/*header*/

.logo{
    color:rgb(255, 255, 255);
    font-size: 35px;
    letter-spacing: 1px;
    /*text-shadow: -1px -1px 0 black, 1px -1px 0 black, -1px 1px 0 black, 1px 1px 0 black; */
}


.detail{
    color:rgb(144, 129, 224);
}

a{
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    color:rgb(82, 73, 133);
    transition: 0.4s;
}

.logo{
    font-size: 24px;
    text-transform: uppercase;
    letter-spacing: 4px;
}

nav{
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #23232e;
    height: 8vh;
}



.nav-list{
    list-style: none;
    display: flex;

}

.nav-list li{
    letter-spacing: 3px;
    margin-left: 32px;

}

.mobile-menu{
    cursor: pointer;
    display: none;
}

.mobile-menu div{
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
}

@media (max-width:999px){

    body{
        overflow-x: hidden;
    }

    .nav-list{
        position: absolute;
        top:8vh;
        right: 0;
        width: 40vw;
        height: 20vh;
        background: #23232e;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        transform: translateX(100%);
        transition: transform 0.3s ease-in;
    }

    .nav-list li{
        margin-left: 0;
        opacity: 0;
        font-size: 3vw; 


    }

    .mobile-menu{
        display: block;
    }
}

.nav-list.active{
    transform: translateX(0);
}

@keyframes navLinkFade {
    from {
        opacity: 0;
        transform: translateX(50px);
    }

    to{
        opacity: 1;
        transform: translateX(0);
    }
}

.mobile-menu.active .line1{
    transform: rotate(-45deg) translate(-8px, 8px);

}

.mobile-menu.active .line2{
    opacity:0;
}

.mobile-menu.active .line3{
    transform: rotate(45deg) translate(-5px, -7px);
    
}

/*main*/
main{
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url("https://i.pinimg.com/564x/70/f4/d5/70f4d5be52732f4cac2c8fab02772c63.jpg");
    background-size: cover;
    background-position: center;
    height: 95vh;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .content {
     position:absolute;
      top:40%;
      left: 8%;
      transform: translateY(-50%);
      padding: 10px;
   }
  
  
  h4 {
    color: #fcfcfc;
    font-size: 24px;
    margin: 10px 0;
  }
  
  h1 {
    color: #fcfcfc;
    margin: 10px 0;
    font-size: 40px;
  }
  
  .detaila {
    border-bottom: #fcfcfc 2px solid;
    border-radius: 3px;
    color:rgb(144, 129, 224);
  }
  
  h3 {
    color: #fcfcfc;
    margin: 10px 0;
    font-weight: 200;
  }

  .slogan{
    border-bottom: #fcfcfc 2px solid;
    border-radius: 3px;
}
  
.about {
    background-image: linear-gradient(to bottom , rgb(7, 2, 41) , rgb(25, 25, 25));
    padding: 60px 0;
  }
 
.main {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
  }
 
 .main img {
    max-width: 40%;
    height: auto;
  }
  
 
.about-text {
    flex: 1;
    padding: 20px;
  }
  
.about-text h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
  }
  
.about-text .detail {
    color: rgb(144, 129, 224);
    font-weight: bold;
  }
  
.about-text p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
  }
  

@media (max-width: 768px) {
    .main {
      flex-direction: column;
      text-align: center;
    }
  
    .main img {
      max-width: 100%;
    }
  
    .about-text {
      padding: 0;
    }
  
    .about-text h2 {
      font-size: 24px;
      margin-bottom: 10px;
    }
  
    .about-text p {
      font-size: 14px;
    }

    main{
        margin: 0;
        padding: 0;
        font-family: Arial, sans-serif;
        background-image: url("https://i.pinimg.com/564x/70/f4/d5/70f4d5be52732f4cac2c8fab02772c63.jpg");
        background-size: cover;
        background-position: center;
        height: 70vh;
        display: flex;
        justify-content: center;
        align-items: center;
      }
  }

  .duvida {
  background-image: url("https://i.pinimg.com/564x/70/f4/d5/70f4d5be52732f4cac2c8fab02772c63.jpg");
  background-size:150%;
  color: #fff;
  text-align: center;
  transition: background-color 0.3s ease;
  height: 270px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center 
  
}


.duvida p {
  font-size: 24px;
  margin: 0;
  font-weight: bold;
}


.duvida .button-d{
    background-color:rgb(82, 73, 133);
    color:white;
    text-decoration: none;
    border:2px solid transparent ;
    font-weight: bold;
    padding: 10px 25px;
    border-radius: 30px;
    transition: transform .4s;
}

.duvida .button-d:hover{
    transform: scale(1.2);
}


@media (max-width: 768px) {
  .duvida {
    padding: 10px;
  }

  .duvida p {
    font-size: 18px;
  }

  .button-d {
    font-size: 14px;
    padding: 8px 16px;
  }
}

.aboutt {
    background-image: linear-gradient(to bottom , rgb(7, 2, 41) , rgb(25, 25, 25));
    padding: 60px 0;
}
 
.mainn {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}
 
.mainn img {
    max-width: 30%;
    height: auto;
    order: 1; 
  
}
  
.about-textt {
    flex: 1;
    padding: 20px;
   
}
  
.about-textt h2 {
    font-size: 28px;
    color: #ffffff;
    margin-bottom: 20px;
}
  
.about-textt .detail {
    color: rgb(144, 129, 224);
    font-weight: bold;
}
  
.about-textt p {
    font-size: 16px;
    color: #ffffff;
    line-height: 1.5;
}

@media (max-width: 768px) {
    .mainn {
        flex-direction: column;
        text-align: center;
    }
  
    .mainn img {
        max-width: 50%;
        order: 0; 
    }
  
    .about-textt {
        padding: 0;
    }
  
    .about-textt h2 {
        font-size: 24px;
        margin-bottom: 10px;
    }
  
    .about-textt p {
        font-size: 14px;
    }

 
}





/*footer*/

footer{
    background-color: #23232e;
    
}

.footerContainer{
    width: 100%;
    padding: 10px 10px 10px;

}

.footerNav{
    margin: 30px 0;
}

.footerNav ul{
    display: flex;
    justify-content: center;
    list-style-type:none;
}

.footerNav ul li a{
    margin: 20px;
    text-decoration: none;
    opacity: 0.7;
    transition: 0.5s;
    font-size: 14px;
    color:rgb(255, 255, 255);
    display: flex;
    align-items: center;
    justify-content: center;
}

.footerNav ul li a:hover{
    color:rgb(82, 73, 133);
    transition: 0.4s;
}

.footerBottom{
    background-color:  #191920;
    padding: 20px;
    text-align: center;
}

.footerBottom p{
    color:#ffffff;
}

@media (max-width: 700px){
    .footerNav ul{
        flex-direction: column;
    }
    .footerNav ul li{
        width: 100%;
        text-align: center;
        margin: 10px;
    }
}